<!DOCTYPE html>  
<html lang="en">  
<head>  
  <meta charset="utf-8">  
  <meta name="viewport" content="width=device-width, initial-scale=1">  
  <title>Weather App</title>  
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap" rel="stylesheet">  
  <link rel = "stylesheet" href = "{{ url_for('static', filename = 'test.css') }}">
</head>  
<body>  
  
  <div class="container">
    
    <div class="time">  
      {{ time }}  
    </div>  
    
    <div class="weather">  
      <img class = "icon" src="http://openweathermap.org/img/w/{{ icon }}.png" alt="Weahter-icon">
      <hr>
      <p><b>{{ temp }}°C </b></p>
      <p class = "desc">{{ description }} </p>
      <hr>
      <p style = "font-size: medium;">{{ city }} </p>
    </div>  
  
  </div>
  
</body>  
</html>
