@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #E0E5EC;
  color: #F3F3F3;
  font-family: 'Helvetica';
}

h1 {
  font-family: 'Manrope', sans-serif;
  font-size: 2.5em;
  text-align: center;
  margin: auto;
  padding: 25px 25px; 
  color: rgb(22, 21, 21);
  background-color: white;
}

.weather {
  font-family: 'Manrope', sans-serif;
  font-size: 1.5em;
  text-align: center;
  margin: auto;
  padding: 25px 25px;
  background: black;
  color: white;
}