@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');

* {
  font-family: 'Open Sans';
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  height: 100%;
  height: 100%;
  background-color: #2a2a72;
  background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);
}

h1 {
  color: white;
  text-align: center;
  font-size: 3em;
  margin: 0.5em;
}

.weather {
  font-size: 2em;
  text-align: center;
  width: 50%;
  margin: auto;
  padding: 60px;
  color: #112031;
  background-color: #eceff1;
  border-radius: 10px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 6px;
  color: white;
  text-align: center;
  font-size: small;
  background: transparent;
}

img {
  width: 4.5em;
}

.desc {
  font-size: 1em;
}

.city {
  font-size: 0.6em;
}

.temp {
  font-size: 3em;
}

.celsium {
  font-size: 0.8em;
}