body {
  background-color: #E0E5EC;
  color: #F3F3F3;
  font-family: 'Helvetica';
}
h1 {
  margin: 3em;
  text-align: center;
  color: #000000;
}

.weather {
  text-align: center;
  padding: 25px 50px;
  margin: auto;
  width: 50%;
  padding: 25px 25px;
  background: #E0E5EC;
  color: rgb(40, 40, 40);
  border-radius: 5px;
  box-shadow: 0 2.8px 10.2px rgba(0, 0, 0, 0.034),
              0 6.7px 5.3px rgba(0, 0, 0, 0.048),
              0 12.5px 10px rgba(0, 0, 0, 0.06),
              0 22.3px 17.9px rgba(0, 0, 0, 0.072),
              0 41.8px 33.4px rgba(0, 0, 0, 0.086),
              0 100px 100px rgba(0, 0, 0, 0.12)
}